services:
  # ==========================
  # AUTH SERVICE
  # ==========================
  auth:
    build: ./auth
    env_file:
      - ./auth/.env
    ports:
      - "4001:4000"
    depends_on:
      - db_auth
      - mailhog
      - campana

  db_auth:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: auth_db
    volumes:
      - db_auth_data:/var/lib/postgresql/data
    ports:
      - "5400:5432"

  # ==========================
  # SIMULACION SERVICE
  # ==========================
  simulacion:
    build: ./services/simulacion
    env_file:
      - ./services/simulacion/.env
    ports:
      - "3002:3002"
    depends_on:
      - db_simulacion

  db_simulacion:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: simulacion_db
    volumes:
      - db_simulacion_data:/var/lib/postgresql/data
    ports:
      - "5402:5432"
  # ==========================
  # Firma SERVICE
  # ========================== 
  firma:
    build: ./services/firma
    env_file:
      - ./services/firma/.env
    ports:
      - "3005:3005"
    depends_on:
      - db_firma       

  db_firma:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: firma_db
    volumes:
      - db_firma_data:/var/lib/postgresql/data
    ports:
      - "5405:5432"


  # ==========================
  # Desembolso SERVICE
  # ========================== 
  desembolso:
    build: ./services/desembolso
    env_file:
      - ./services/desembolso/.env
    ports:
      - "3006:3006"
    depends_on:
      - db_desembolso  

  db_desembolso:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: desembolso_db
    volumes:
      - db_desembolso_data:/var/lib/postgresql/data
    ports:
      - "5406:5432"





  # ==========================
  # PGADMIN WEB INTERFACE
  # ==========================
  pgadmin:
    image: dpage/pgadmin4:8.12
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: "False"
    ports:
      - "5050:80"
    volumes:
      - ./pgadmin/servers.json:/pgadmin4/servers.json:ro
      - pgadmin_data:/var/lib/pgadmin
  


  # ==========================
  # GATEWAY
  # ==========================
  gateway:
    build: ./gateway
    env_file:
      - ./gateway/.env
    ports:
      - "8080:3000"
    depends_on:
      - auth
      - solicitud
      - evaluacion
      - campana

  # ==========================
  # FRONTEND
  # ==========================
  frontend:
    build: ./frontend
    ports:
      - "5173:3000"
    depends_on:
      - gateway
      - simulacion

  # ==========================
  # SOLICITUD SERVICE
  # ==========================
  solicitud:
    build: ./services/solicitud
    env_file:
      - ./services/solicitud/.env
    ports:
      - "3003:3003"
    depends_on:
      - db_solicitud
      - mailhog

  db_solicitud:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: solicitud_db
    volumes:
      - db_solicitud_data:/var/lib/postgresql/data
    ports:
      - "5403:5432"

  # ==========================
  # EVALUACION SERVICE
  # ==========================
  evaluacion:
    build: ./services/evaluacion
    env_file:
      - ./services/evaluacion/.env
    ports:
      - "3004:3004"
    depends_on:
      - db_evaluacion

  db_evaluacion:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: evaluacion_db
    volumes:
      - db_evaluacion_data:/var/lib/postgresql/data
    ports:
      - "5404:5432"

  # ==========================
  # READY MESSAGE
  # ==========================
  ready_message:
    image: alpine:3.19
    depends_on:
      - frontend
    command: >
      sh -c "sleep 4 &&
      echo 'Todos los servicios están levantados correctamente!' &&
      echo '-----------------------------------------------' &&
      echo 'Frontend:   http://localhost:5173' &&
      echo 'Gateway:    http://localhost:8080' &&
      echo 'Auth:       http://localhost:4000' &&
      echo 'pgAdmin:    http://localhost:5050 (admin@admin.com / admin)' &&
      echo 'MailHog UI: http://localhost:8025 (SMTP en :1025)' &&
      echo '-----------------------------------------------'"

  # ==========================
  # MAILHOG (SMTP + WEB UI)
  # ==========================
  mailhog:
    image: mailhog/mailhog:v1.0.1
    ports:
      - "1025:1025"   # SMTP
      - "8025:8025"   # Web UI

  # ==========================
  # CAMPAÑA SERVICE
  # ==========================
  campana:
    build: ./services/campana
    env_file:
      - ./services/campana/.env
    ports:
      - "3001:3001"
    depends_on:
      - db_campana
      - mailhog

  db_campana:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: campana_db
    volumes:
      - db_campana_data:/var/lib/postgresql/data
    ports:
      - "5401:5432"

volumes:
  db_auth_data:
  db_simulacion_data:
  pgadmin_data:
  db_solicitud_data:
  db_evaluacion_data:
  db_firma_data:
  db_desembolso_data:
  db_campana_data:

